language: node_js
node_js:
- v6
before_script:
- git config --global user.email "email@denysdovhan.com"
- git config --global user.name "Travis Builder"
- git remote rm origin
- git remote add origin https://denysdovhan:${GH_TOKEN}@github.com/denysdovhan/slides-javascript-shells.git
script:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && npm run deploy || npm run build'
env:
  global:
    secure: jR2ECJSw6zvRfIHQbfkPxYLBxPrhGKhcwXKGN/UfxkDLthYQdsoPtuCzKKYDzm3KinW/euGaTJRkcmr1wRsQMIk9qVPLzgnECUf1I/miuUz2EzeeId6Rnb+PtxZNuGtywGH3Dzv/QdGGbkLm4dPnTJFOB/Nmu84hkamUMgrGtQG1oglUU+VLVTShLWO6VehMOfj5dYl812rTQLzQPe1rHOwxFNLPwBbPe04WR38pMs2i5iZIGB33wux3BIPjAIxis1hzdFKuG6nnMBvgJxKOXXDhz7Ei/cmq/dn5tBKSpUAP86J4pCzc0zSrY3DN8N5oNqpIAKgJT6+DoLK5eUvRZsy9nnHeEC2rfu9P0UAVbznmSfgX/JwoonNpAl4xWn4d1vIQR1VN5zJflQXCp9f1nGYhzwVSVdLgC5PChysU/ghZR6QN/7E3Pj5L23+hb88nXKgIluzj8bml4MW/s9lM1q9zYyQLUy6BBC0EbmMuUr/wW7d7XfdETCYnZ7NvRWP5GIzS7lgujuFzgc8LLdVfuyVaWfhWJgYY0d3Pbz/eqvxbHs1CmpiXTZ2Wfu9GeGxrX/6AW7ArSKE1r12bolmt1INjB4Z2TnTrpIrHk+LnUZEVw6LJMGel25I8ED+xWLVB67JK3p5NyAvpaQUxvH/FE2iCAWae8RE0re1zURVMgnY=
